form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.modal-card,
.modal-content {
  margin: 0 0.75rem;
  pointer-events: all;
  background: linear-gradient(135deg, #ebc0fd 0%, #d9ded8 100%);
}

.modal-background {
  background: linear-gradient(135deg, #c3cfe2 0%, #c3cfe2 100%);
}

.modal {
  pointer-events: none;
}
