* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gowun Dodum", sans-serif;
}

.body-background {
  background: linear-gradient(to top left, #4776e6, #8e54e9);
  width: 100%;
  height: 100%;
  background-size: cover;
  min-height: 100vh;
}

.display-none {
  display: none !important;
}
